In [8]:
import pandas as pd
from fastai.tabular import *

In [6]:
df = pd.read_pickle('data/trans.pkl')
df.head()

,trans_id,account_id,trans_amount,balance_after_trans,trans_bank_partner,trans_account_partner,trans_type,trans_operation,trans_k_symbol,trans_date
0,695247,2378,700.0,700.0,NaN,NaN,CREDIT,CREDIT_IN_CASH,UNKNOWN,0
1,171812,576,900.0,900.0,NaN,NaN,CREDIT,CREDIT_IN_CASH,UNKNOWN,0
2,207264,704,1000.0,1000.0,NaN,NaN,CREDIT,CREDIT_IN_CASH,UNKNOWN,0
3,1117247,3818,600.0,600.0,NaN,NaN,CREDIT,CREDIT_IN_CASH,UNKNOWN,0
4,579373,1972,400.0,400.0,NaN,NaN,CREDIT,CREDIT_IN_CASH,UNKNOWN,1

In [11]:
procs = [FillMissing, Categorify, Normalize]

In [13]:
valid_idx = range(int(len(df)*0.8), len(df))

In [ ]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names)